.articles__section-title {
    @include gradient-text;
    text-align: center;
    font-size: 3rem;
    
}

.articles__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px;
}

.article__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    border: 3px solid $border-color;
    border-radius: 3rem;
    margin: 2rem;
    padding: 5rem;
    background: $color-gradient;
    &-img {
        margin: 0;
        width: 100%;
        border-radius: 3rem 3rem 0 0;
    }
    &-img img{
        width: 100%;
        object-fit: cover;
        border-radius: 3rem 3rem 0 0;
        margin: 0;
    }
    &-info {
        width: 100%;
        background-color: $color-tertiary;
        border-radius: 3rem;
        border: 3px solid $border-color;
        
    }
}

#name {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    & h3 {
        margin: 0;
    }
}

#description {
    font-size: 1rem;
    color: rgb(204, 199, 199);
    text-align: center;
    padding: 0.5rem;
}
#price {
    font-size: 1.5rem;
    color: rgb(94, 226, 175);
    text-align: right;
    padding: 0.5rem;
}
